@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-thin.woff') format('woff');
    /* Thin */
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-extralight.woff') format('woff');
    /* Extra light */
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-light.woff') format('woff');
    /* Light */
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-regular.woff') format('woff');
    /* Normal */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-medium.woff') format('woff');
    /* Medium */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-semibold.woff') format('woff');
    /* Semi Bold */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-bold.woff') format('woff');
    /* Bold */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-extrabold.woff') format('woff');
    /* Extra bold */
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('notosansthaiui-black.woff') format('woff');
    /* Black */
    font-weight: 900;
    font-style: normal;
}