@font-face {
    font-family: 'Prajad';
    src: url('csprajad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prajad';
    src: url('csprajad-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Prajad';
    src: url('csprajad-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prajad';
    src: url('csprajad-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}